html {
  text-align: center;
  background-color: #AAFFFF;
}
#searchappender{
  display: block;
  position: absolute;
  top: 0;
  margin-top: 250px;
  z-index: 1;
}
img {
  height: 100px;
  width: 100px;
}
.songdiv{
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #FFBEFF;
  -webkit-box-shadow: -1px 10px 31px -8px rgba(97,97,97,1);
  -moz-box-shadow: -1px 10px 31px -8px rgba(97,97,97,1);
  box-shadow: -1px 10px 31px -8px rgba(97,97,97,1);
  display: inline-table;
  margin: 20px;
  width: 200px;
  height: 220px;
}
.topbarfixed{
  z-index: 10;
  position: fixed;
  top: 0px;
  margin: 0;
  width: 100%;
  background-color: #AAFFFF;
}
.topbarfixed *{
  /*display: inline;*/
}
